<?php
    require  (__DIR__ . "/../templates/header.html");
?>

<div class = "container">
    <form class="form-register" action="register.php" method="POST">
        <h2>Регистрация / Редактирование информации</h2>
        <div class="form-group">
            <label>Имя:</label>
            <input required  autofocus type="text" class="form-control" name="name" placeholder="Иван" value=
                "<?= ($abiturient->name) ? htmlspecialchars($abiturient->name, ENT_QUOTES) : '' ?>">      
            <?php if ($errors && $errors->get('nameForbidden')): ?>
                <div class="alert alert-warning" role="alert">    
                    <?= "Имя должно содержать только буквы, символ(ы): " . htmlspecialchars($errors->get('nameForbidden'), ENT_QUOTES) . " - недопустимы"; ?>
                </div>
            <?php endif; ?>        
            <?php if ($errors && $errors->get('nameLength')) : ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Имя не должно быть длиннее 90 символов, а вы ввели " . htmlspecialchars($errors->get('nameLength'), ENT_QUOTES); ?>
                </div>
            <?php endif; ?>
        </div>
        
        <div class="form-group">
            <label>Фамилия:</label>
                <input required type="text" class="form-control" name="lastName" placeholder="Иванов"
                value="<?= ($abiturient->lastName) ? htmlspecialchars($abiturient->lastName, ENT_QUOTES) : '' ?>">

            <?php if ($errors && $errors->get('lastNameForbidden')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Фамилия может содержать только буквы, \" ` \" или \"-\", символ(ы): " . htmlspecialchars($errors->get('lastNameForbidden'), ENT_QUOTES) . " - недопустимы"; ?>
                </div>
            <?php endif; ?>
            <?php if ($errors && $errors->get('lastNameLength')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Фамилия не должна быть длиннее 90 символов, а вы ввели " . htmlspecialchars($errors->get('lastNameLength'), ENT_QUOTES); ?>
                </div>
            <?php endif; ?>
        </div>
        
        <div class="form-group">
            <label>Пол:</label>
            <div class="checkbox">
                <input type="radio" name="gender" value=GENDER_MALE id="form_GENDER_MALE"
                    <?= ($abiturient->gender==app\Abiturient::GENDER_MALE) ? "checked" : '' ?>>
                <label for="form_GENDER_MALE">Мужской</label>
            </div>
            <div class="checkbox">
                <input type="radio" name="gender" value=GENDER_FEMALE id="form_GENDER_FEMALE"
                    <?= ($abiturient->gender==app\Abiturient::GENDER_FEMALE) ? "checked" : '' ?>>
                <label for="form_GENDER_FEMALE">Женский</label>
            </div>
            <?php if ($errors && $errors->get('gender')) : ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Поле может принимать значение GENDER_MALE или GENDER_FEMALE, вы отправили:" . htmlspecialchars($errors->get('gender'), ENT_QUOTES); ?>
                </div>
            <?php endif; ?>
        </div>
            
        <div class="form-group">
             <label>Номер группы:</label>
            <input required type="text" class="form-control" name="groupNum" placeholder="ИГН-13"
            value="<?= ($abiturient->groupNum) ? htmlspecialchars($abiturient->groupNum, ENT_QUOTES) : '' ?>">
        
            <?php if ($errors && $errors->get('groupNumForbidden')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Номер группы должен содержать только цифры, буквы и \"-\", символ(ы): " . htmlspecialchars($errors->get('groupNumForbidden'), ENT_QUOTES) . " - недопустимы"; ?>
                </div>
            <?php endif; ?>          
            <?php if ($errors && $errors->get('groupNumLength')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Номер группы должен содержать от 2 до 10 символов, а вы ввели " . htmlspecialchars($errors->get('groupNumLength'), ENT_QUOTES);  ?>
                </div>
            <?php endif; ?>
        </div>
        
        <div class="form-group">
            <label>E-mail:</label>
            <input required type="email" class="form-control" name="email" placeholder="ivan@google.com"
                value="<?= ($abiturient->email) ? htmlspecialchars($abiturient->email, ENT_QUOTES) : '' ?>">            
            <?php if ($errors && $errors->get('email')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Похоже вместо email вы ввели: " . htmlspecialchars($errors->get('email'), ENT_QUOTES); ?>
                </div>
            <?php endif; ?>
        </div>
            
        <div class="form-group">
            <label>Cуммарное число баллов ЕГЭ:</label>
            <input required type="number" class="form-control"  max="400" nim="0" title="Суммарное количество баллов ЕГЭ не может быть больше 400" name="egePoints" placeholder="400" value=
                "<?= ($abiturient->egePoints) ? htmlspecialchars($abiturient->egePoints, ENT_QUOTES) : '' ?>"/>   
            <?php if ($errors && $errors->get('egePointsForbidden')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Суммарное количество баллов ЕГЭ должно содержать только цифры, символ(ы): " . htmlspecialchars($errors->get('egePointsForbidden'), ENT_QUOTES) . " - недопустимы"; ?>
                </div>
            <?php endif; ?> 
            <?php if ($errors && $errors->get('egePointsMaxMin')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Суммарное количество баллов ЕГЭ не может быть больше 400, а вы ввели " . htmlspecialchars($errors->get('egePointsMaxMin'), ENT_QUOTES);  ?>
                </div>
            <?php endif; ?>
        </div>
        
        <div class="form-group">
            <label>Год рождения:</label>
            <input required type="number" class="form-control" max="<?= date('Y') ?>" nim="1900" name="dateOfBirth" placeholder="2001" value=
                "<?= ($abiturient->dateOfBirth) ? htmlspecialchars($abiturient->dateOfBirth, ENT_QUOTES) : '' ?>">                    
            <?php if ($errors && $errors->get('dateOfBirthForbidden')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Год рождения должен содержать только цифры, символ(ы): " . htmlspecialchars($errors->get('dateOfBirthForbidden'), ENT_QUOTES) . " - недопустимы"; ?>
                </div>
            <?php endif; ?>            
            <?php if ($errors && $errors->get('dateOfBirthMaxMin')): ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Год рождения должен быть в интервале от 1900 до текущего, а вы ввели " . htmlspecialchars($errors->get('dateOfBirthMaxMin'), ENT_QUOTES); ?>
                </div>
            <?php endif; ?>
        </div>
            
        <div class="form-group">
            <label>Прописка:</label>
            <div class="checkbox">
                <input type="radio" name="registry" value=REGISTRY_LOCAL id="form_REGISTRY_LOCAL"
                    <?= ($abiturient->registry==$abiturient::REGISTRY_LOCAL) ? "checked" : '' ?>>
                <label for="form_REGISTRY_LOCAL">Местная</label>
            </div>
            <div class="checkbox">
                <input type="radio" name="registry" value=REGISTRY_NOT_LOCAL id="form_REGISTRY_NOT_LOCAL"
                    <?= ($abiturient->registry==$abiturient::REGISTRY_NOT_LOCAL) ? "checked" : '' ?>>
                <label for="form_REGISTRY_NOT_LOCAL">Иногородняя</label>
            </div>
            <?php if ($errors && $errors->get('registry')) : ?>
                <div class="alert alert-warning" role="alert">
                    <?= "Поле может принимать значение REGISTRY_LOCAL или REGISTRY_NOT_LOCAL, вы отправили: " . htmlspecialchars($errors->get('registry'), ENT_QUOTES); ?>
                </div>
            <?php endif; ?>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    </form>
</div>
</div>
</body>
</html>
