<?php
    require  (__DIR__ . "/../templates/header.html");
?>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Список абитуриентов</h1>
        </div>
        <div class="col-sm-6">
            <form class="form-horizontal search-form" action="index.php" method="GET">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="searchInput">Поиск</label>
                    <div class="col-sm-9">
                        <div class="input-group">        
                            <input type="search" class="form-control" name="search" id="searchInput" results="5" 
                                <?= (isset($curl['search'])) ? 'value="' . htmlspecialchars($curl['search'], ENT_QUOTES) . '"' : '';?>
                                placeholder="Введите поисковый запрос" size="25">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Найти</button>
                            </span>
                        </div>
                    </div>
                </div>
            </form>            
        </div>
    </div>    
    <?php if (isset($curl['search'])): ?>
        <div class="alert alert-info" role="alert">
            <p>Показаны только абитуриенты, найденные по запросу «<?= htmlspecialchars($curl['search'], ENT_QUOTES); ?>».</p>
            <p><a class="alert-link" href="<?= app\LinkHelper::getFirstPageLink(); ?>">Показать всех абитуриентов</a></p>
        </div>
    <?php endif; ?>
    

    
    <table class="table">
        <thead>
            <tr>
                <th><a href="<?= app\ViewHelper::html(app\LinkHelper::getSortingLink($curl, 'name')); ?>">Имя <?= app\LinkHelper::getOrderIcon($curl, 'name'); ?></a></th>
                <th><a href="<?= app\ViewHelper::html(app\LinkHelper::getSortingLink($curl, 'lastName')); ?>">Фамилия <?= app\LinkHelper::getOrderIcon($curl, 'lastName'); ?></a></th>
                <th><a href="<?= app\ViewHelper::html(app\LinkHelper::getSortingLink($curl, 'groupNum')); ?>">Номер группы <?= app\LinkHelper::getOrderIcon($curl, 'groupNum'); ?></a></th>
                <th><a href="<?= app\ViewHelper::html(app\LinkHelper::getSortingLink($curl, 'egePoints')); ?>">Баллы ЕГЭ <?= app\LinkHelper::getOrderIcon($curl, 'egePoints'); ?></a></th>
            </tr>
        </thead>
        <?php if (isset($abiturients) && is_array($abiturients)):
            foreach($abiturients as $abiturient): ?>
        <tbody>
            <tr>
               <?php foreach($abiturient as $valueName => $value):
                        if (in_array($valueName, $allowedValues)) : ?>
                <td>
                    <?php if(isset($curl['search'])): ?>
                        <?= app\ViewHelper::markSameStr(htmlspecialchars(app\ViewHelper::html($value), ENT_QUOTES), $curl['search'], "<mark>%s</mark>"); ?>                    
                    <?php else: ?>
                        <?= htmlspecialchars(app\ViewHelper::html($value), ENT_QUOTES); ?>
                    <?php endif; ?>
                </td>
                <?php   endif;
                    endforeach; ?>
            </tr>
        </tbody>
            <?php endforeach;
            endif; ?>        
    </table>
    <?php if ($totalPages>1): ?>
        <?php if (!isset($curl['page'])): $curl['page'] = 1; endif; ?>
        <label>Страницы:</label>
        <nav aria-label="Page navigation">    
          <ul class="pagination my-pagination">
            <?php for ($i=1; $i<=$totalPages; $i++):
                if ($i==$curl['page']): ?>
                    <li class='active'><a href="<?= app\ViewHelper::html(app\LinkHelper::getPageLink($i, $curl)); ?>"><?= $curl['page']; ?></a></li>
                <?php else: ?>
                    <li><a href="<?= app\ViewHelper::html(app\LinkHelper::getPageLink($i, $curl)); ?>"><?= $i; ?></a></li>
                <?php endif;
            endfor; ?>
          </ul>
        </nav>
    <?php endif; ?>
</div>